In [1]:
import pandas as pd

In [2]:
# Enlesen aus Seaborn
import seaborn as sns
penguins = sns.load_dataset("penguins")
# Einlesen der csv-Datei
penguins = pd.read_csv("penguins.csv")
# Anzeigen der ersten 5 Zeilen
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [3]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [4]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [5]:
### Komplett leere (Daten)zeilen löschen ### 
print(penguins.loc[penguins["bill_length_mm"].isnull()])       # Komplette Zeilen mit null in Spalte bill_lengt_mm
print(penguins.loc[penguins["bill_length_mm"].isnull()].index) # Index der Zeilen
penguins.drop(index = penguins.loc[penguins["bill_length_mm"].isnull()].index, inplace = True) # Zeilen im original Dataframe löschen
penguins

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
3    Adelie  Torgersen             NaN            NaN                NaN
339  Gentoo     Biscoe             NaN            NaN                NaN

     body_mass_g  sex
3            NaN  NaN
339          NaN  NaN
Index([3, 339], dtype='int64')

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [6]:
penguins.describe().T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0

In [7]:
### Index neu setzen (inplace=True)
### alten Index nicht in den DF schreiben (drop = True)
penguins.reset_index(drop= True, inplace=True)
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...,...
337,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
338,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
339,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
340,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
341,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [8]:
penguins.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  9
dtype: int64

Nur noch 9 fehlende Werte beim Geschlecht!

In [9]:
print(penguins.loc[penguins["sex"].isnull()])

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
7    Adelie  Torgersen            34.1           18.1              193.0
8    Adelie  Torgersen            42.0           20.2              190.0
9    Adelie  Torgersen            37.8           17.1              186.0
10   Adelie  Torgersen            37.8           17.3              180.0
46   Adelie      Dream            37.5           18.9              179.0
245  Gentoo     Biscoe            44.5           14.3              216.0
285  Gentoo     Biscoe            46.2           14.4              214.0
323  Gentoo     Biscoe            47.3           13.8              216.0
335  Gentoo     Biscoe            44.5           15.7              217.0

     body_mass_g  sex
7         3475.0  NaN
8         4250.0  NaN
9         3300.0  NaN
10        3700.0  NaN
46        2975.0  NaN
245       4100.0  NaN
285       4650.0  NaN
323       4725.0  NaN
335       4875.0  NaN