1: DataFrame Erstellung und erste Inspektion

Erstellt einen Pandas DataFrame mit den folgenden Daten. Nennt ihn buch_verkaeufe.

| Buchtitel              | Autor         | Genre    | Januar | Februar | März |
| :--------------------- | :------------ | :------- | :----- | :------ | :--- |
| Der Ruf des Kuckucks   | Robert Galbraith | Krimi    | 120    | 150     | 130  |
| Harry Potter und der Stein der Weisen | J.K. Rowling  | Fantasy  | 200    | 180     | 220  |
| Eine kurze Geschichte der Zeit | Stephen Hawking | Wissenschaft | 80     | 90      | 75   |
| Stolz und Vorurteil    | Jane Austen   | Klassiker | 95     | 110     | 100  |
| Die Mitternachtsbibliothek | Matt Haig     | Belletristik | 160    | 170     | 155  |

In [ ]:
import pandas as pd  # Wir importieren die pandas-Bibliothek, um mit Tabellen zu arbeiten.

In [ ]:
# Wir erstellen den DataFrame mit den angegebenen Daten.
buch_verkaeufe = pd.DataFrame({
    'Buchtitel': ['Der Ruf des Kuckucks', 'Harry Potter und der Stein der Weisen', 'Eine kurze Geschichte der Zeit', 'Stolz und Vorurteil', 'Die Mitternachtsbibliothek'],
    'Autor': ['Robert Galbraith', 'J.K. Rowling', 'Stephen Hawking', 'Jane Austen', 'Matt Haig'],
    'Genre': ['Krimi', 'Fantasy', 'Wissenschaft', 'Klassiker', 'Belletristik'],
    'Januar': [120, 200, 80, 95, 160],
    'Februar': [150, 180, 90, 110, 170],
    'März': [130, 220, 75, 100, 155]
})

Zeigt die ersten 3 Zeilen des DataFrames an.

In [ ]:
print(buch_verkaeufe.head(3))
print(buch_verkaeufe.loc[0:2])

Überprüft die Datentypen der Spalten.

In [ ]:
print(buch_verkaeufe.dtypes)

Erhaltet eine Zusammenfassung der statistischen Kennzahlen für die numerischen Spalten.

In [ ]:
print(buch_verkaeufe.describe())

2: Datenzugriff und Filterung

Wählt nur die Spalten "Buchtitel" und "Autor" aus und zeigt sie an.

In [ ]:
print(buch_verkaeufe[['Buchtitel', 'Autor']])

Filtert den DataFrame, um nur Bücher anzuzeigen, die im Januar mehr als 100 Einheiten verkauft haben.

In [ ]:
print(buch_verkaeufe.loc[(buch_verkaeufe.Januar > 100)])

In [ ]:
# Findet alle Fantasy-Bücher und zeigt ihre Titel und Verkaufszahlen für März an.
print(buch_verkaeufe.loc[(buch_verkaeufe.Genre == 'Fantasy')][['Buchtitel', 'März']])

3: Neue Spalten und Berechnungen

In [ ]:
# Berechnet die "Gesamt_Verkaeufe" für jedes Buch über alle drei Monate (Januar, Februar, März) und fügt diese als neue Spalte dem DataFrame hinzu.
buch_verkaeufe['Gesamt_Verkaeufe'] = (400, 600, 245, 305, 485)
print(buch_verkaeufe)

In [ ]:
# Findet das Buch mit den höchsten "Gesamt_Verkaeufe".
print(buch_verkaeufe[buch_verkaeufe['Gesamt_Verkaeufe'] == buch_verkaeufe['Gesamt_Verkaeufe'].max()]['Buchtitel'])

In [ ]:
# 4: Sortieren und Gruppieren
# Sortiert den DataFrame absteigend nach den "Gesamt_Verkaeufe".
sortiert = buch_verkaeufe.sort_values(by='Gesamt_Verkaeufe', ascending=False)
print(sortiert)
# Gruppiert den DataFrame nach "Genre" und berechnet die durchschnittlichen Gesamtverkäufe pro Genre.
durchschnitt = buch_verkaeufe.groupby('Genre')['Gesamt_Verkaeufe'].mean()
print(durchschnitt)